*, html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

#map {
  height: 100vh;
  width: 100%;
  z-index: 0;
}

.map_fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.map_cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3rem;
  padding: .25rem .5rem;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #fff;
  z-index: 999;
}

header img {
  max-height: 100%;
}

header span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 .5rem;
  padding: 0 .5rem;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  border-left: 1px solid #ccc;
}

.search {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 288px;
  margin: -173px 0 0 -144px;
  padding: 1rem;
  background: rgba(34, 34, 34, 0.9);
  border-radius: .5rem;
  z-index: 998;
}

.search_zone {
  padding: 0 0 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.search_zone:last-child {
  padding: 1rem 0 0 0;
  border-bottom: 0;
}

.search_zone p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .8rem;
  color: #fff;
}

.search_zone p:first-child {
  margin: 0 0 .25rem 0;
}

.search_zone input {
  width: 80%;
  height: 2rem;
  padding: .25rem;
  font-size: 1rem;
  border: 0;
  border-radius: .25rem;
}

.search_zone select {
  width: 60%;
  height: 2rem;
  padding: .25rem;
  font-size: 1rem;
  line-height: 100%;
  border: 0;
  border-radius: .25rem;
}

.search_btn {
  width: 18%;
  height: 2rem;
  margin: 0 0 0 2%;
  padding: .25rem;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  background: #669900;
  border-radius: .25rem;
}

.search_btn--location {
  background: #037FCE;
}

.search_category {
  position: relative;
  display: block;
  margin: 1rem 0;
  padding: .6rem 1rem;
  color: #fff;
  background: #000;
  border-radius: .25rem;
  overflow: hidden;
}

.search_category::before {
  content: '';
  position: absolute;
  top: -75px;
  left: -40px;
  width: 100px;
  height: 200px;
  background: #cc0000;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  z-index: 1;
}

.search_category:last-child {
  margin: .5rem 0 0 0;
}

.search_category span {
  position: relative;
  display: inline-block;
}

.search_category span.search_category--type {
  width: 30%;
  z-index: 99;
  color: #fff;
}

.search_category span.search_category--price {
  width: 60%;
  color: #ccc;
}

.search_category i {
  position: absolute;
  top: 50%;
  right: 1rem;
  margin: -.5rem 0 0 0;
}

.search_category a {
  position: relative;
  display: inline-block;
  width: 20%;
  color: #cc0000;
}

.result {
  position: relative;
  margin: 4rem 1rem 1rem 1rem;
  padding: 1rem 1rem 66px 1rem;
  background: rgba(34, 34, 34, 0.9);
  border-radius: .5rem;
  overflow: hidden;
  z-index: 998;
}

.result .statement {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: .5rem;
  background: #000;
}

.result .statement select {
  width: 40%;
  height: 2rem;
  padding: .25rem;
  font-size: 1rem;
  line-height: 100%;
  border: 0;
  border-radius: .25rem;
}

.result .statement span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  color: #ffff99;
}

.result #chart {
  max-width: 380px;
  margin: 3rem auto 1rem auto;
  padding: 0;
}

.result table {
  border-spacing: 1px;
}

.result .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.result .table th, .result .table td {
  padding: .5rem;
  color: #555;
  text-align: center;
  background: #fff;
}

.result .table thead th {
  color: #fff;
  background: #cc0000;
}

.result .table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.result .table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.result_count {
  margin: 1rem 0 0 0;
  color: #ffffcc;
  text-align: center;
}

.result_tool {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
}

.result_tool a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  color: #fff;
  background: #669900;
}

.result_tool a:nth-child(2) {
  width: 34%;
}

.result_tool a:nth-child(2) i {
  position: absolute;
  left: 0;
  font-size: .5rem;
}

.result_tool a:last-child {
  background: #037FCE;
}

#div1 {
  position: absolute;
  top: 4rem;
  left: 10px;
  height: 5vh;
  width: 100%;
  z-index: 5;
}

#div1 button {
  width: 160px;
  height: 50px;
  margin: 0 5px 0 0;
  font-size: 20px;
}

@media screen and (max-width: 640px) {
  #div1 button {
    width: 80px;
    height: 50px;
    margin: 0 5px 0 0;
    font-size: 14px;
  }
}

@media screen and (max-width: 640px) {
  #div1 {
    position: absolute;
    top: 4rem;
    left: 10px;
    height: 5vh;
    width: 100%;
    z-index: 5;
  }
}

#div2 {
  position: absolute;
  top: 8rem;
  left: 10px;
  height: 100vh;
  width: 100px;
  z-index: 5;
}

@media screen and (max-width: 640px) {
  #div2 {
    position: absolute;
    top: 8rem;
    left: 10px;
    height: 100vh;
    width: 50px;
    z-index: 5;
  }
}

#div3 {
  position: absolute;
  top: 8rem;
  right: 10px;
  height: 100vh;
  width: 100px;
  z-index: 5;
}

@media screen and (max-width: 640px) {
  #div3 {
    position: absolute;
    top: 8rem;
    right: 10px;
    height: 100vh;
    width: 50px;
    z-index: 5;
  }
}

button {
  width: 100px;
  height: 100px;
  margin: 0 0 5px 0;
  font-size: 48px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
}

@media screen and (max-width: 640px) {
  button {
    width: 50px;
    height: 50px;
    margin: 0 0 5px 0;
    font-size: 24px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
  }
}
