<div class="footer">
	時價神器為<a href="http://bs.anguskh.com" class="txtRed" target="_blank">BuyHows買好室</a> 所建立的系統平台。<a class="qa" href="https://bs.anguskh.com">時價神器常見問題</a></span>
    <div id="goTop"></div>
</div>